body {
    font-family: wf_segoe-ui_normal,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #444;
    text-rendering: optimizeLegibility;
}

.navbar {
    
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1.2px;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar-toggler {
    padding: 0 5px;
}

.bg-costom {
    background-color: #000000!important;
}

.home-jumbotron-section {
    padding-top: 110px;
    padding-bottom: 60px;
    background-color: #333333;
}

.home-jumbotron-section h1 {
    font-size: 2.9rem;
    color: white;
}

.home-jumbotron-section .lead {
    color: white;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 110px;
    width: 100%;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    padding: 25px 0;
}
