body {
    font-family: wf_segoe-ui_normal,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #444;
    text-rendering: optimizeLegibility;
}

.navbar {
    
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 1.2px;
}

.navbar-brand img {
    margin-right: 5px;
}

.navbar-toggler {
    padding: 0 5px;
}

.lead {
    font-size: 1.15rem;
}

.bg-costom {
    background-color: #000000!important;
}

.home-jumbotron-section {
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #333333;
    background-size: 20px 20px;
    background-repeat: repeat;
    background-image: url('../img/bg-pattern.png');
}

.home-jumbotron-section h1 {
    font-size: 2.6rem;
    margin-bottom: 20px;
    color: white;
}

.home-jumbotron-section .lead {
    color: white;
}

.content-oss-projects {
    padding-top: 60px;
}

.content-oss-projects .row {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 110px;
    width: 100%;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    padding: 25px 0;
}

@media screen and (-webkit-min-device-pixel-ratio:2),(min-resolution: 2dppx) {
    .home-jumbotron-section {
        background-image: url('../img/bg-pattern@2x.png');
    }
}
