<html lang="en">

<head>
  <title>{{ .Title }}</title>
  {{ partial "metadata.html" . }}
  {{ partial "style.html" . }}
  {{ partial "script.html" . }}
  <link rel="icon" href="/favicon.ico?{{ now.Unix }}">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top bg-costom justify-content-between">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="/img/code-icon-brand.png" width="100", height="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <a class="" href="https://github.com/kohkimakimoto"><i class="fa fa-github fa-inverse fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>
  <div class="home-jumbotron-section">
    <div class="container">
      <h1 class="display-3">Open Source Code</h1>
      <p class="lead">Open source products are developed and maintained by Kohki Makimoto.</p>
    </div>
  </div>
  <div>
      
  </div>
  <footer>
    <div class="container">
      <p>Copyright (c) {{ now.Format "2006"}} Kohki Makimoto</p>
    </div>
  </footer>
</body>

</html>
